{{! app.js todos }}

<a href='./todos/new'>Create</a>

<ul>
  {{#each todos}}
    <li>
       {{!-- checkbox 只能檢視、不能編輯，所以加入了 disabled 屬性 --}}
      <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled>
      {{this.name}}
      <a href='./todos/{{this._id}}'>detail</a>
      <a href='./todos/{{this._id}}/edit'>edit</a>
      <form  
      {{!-- a 只能發 get 請求，所以這裡改成 form --}}
        action='./todos/{{this._id}}/delete'
        method='POST'
        style=' display : inline ; '
      >
        <button type='submit'> delete </button>
      </form>
    </li>
  {{/each}}
</ul>